<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <!--<target xsi:type="File" name="targetFileDate" 
            fileName="${basedir}/logs/log.${shortdate}.txt"
            layout="${newline}${newline}${date}|${logger}|${level:uppercase=true}|${callsite:fileName=true}|${callsite:methodName=true}|${newline}${newline}${message} ${exception} ${all-event-properties}${newline}"
            archiveEvery="Day"
            maxArchiveFiles="30"/>-->

    <!--archiveAboveSize - Size in bytes above which log files will be automatically archived.-->

    <target xsi:type="File" name="targetFileName"
            fileName="${basedir}/logs/Log.TestWebApi.txt"
            layout="
            ${newline}----------------------------------------------------------------------------------------------------------------
            ${newline}${date} | ${logger} | ${level:uppercase=true} | Activity Id: ${activityid:whenEmpty=${mdlc:item=RequestId:whenEmpty=${aspnet-TraceIdentifier}}}
            ${newline}Caller IP: ${aspnet-request-ip} | Host IP: ${local-ip:cachedSeconds=120} | UserAgent: ${aspnet-Request-UserAgent}            
            ${newline}Request: ${aspnet-request-method} ${aspnet-Request-Url} | Query Params: ${aspnet-request-querystring}
            ${newline}Request Header: ${aspnet-request-headers}
            ${newline}Request Body: ${aspnet-request-posted-body}
            ${newline}Class File: ${callsite:fileName=true}
            ${newline}Class Method: ${callsite:className=true:includeNamespace=false:fileName=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}
            ${newline}Line Number: ${callsite-linenumber} 
            ${newline}IIS Site Name: ${iis-site-name} 
            ${newline}${newline}${message}${when:when=length('${exception}')>0:Inner=|}${exception:format=tostring}
            ${newline}${exception} ${all-event-properties}"
            concurrentWrites="false"
            archiveFileName="${basedir}/logs/archives/Log.ColCustomerService.${shortdate}.{####}.txt"
            archiveAboveSize="5000000"
            archiveNumbering="Sequence"
            maxArchiveFiles="7">
    </target>

      <!-- another file log, only own logs. Uses some ASP.NET core renderers
    <target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" /> -->
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip non-critical logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Warning" final="true" />
    <logger name="System.*" maxlevel="Warning" final="true" />
    <logger name="HealthChecks.*" maxlevel="Warning" final="true" />
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="targetFileName" />
    <!-- BlackHole without writeTo -->
    <!--<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
  </rules>

</nlog>